@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.nonMap{
  width: 30vw;
  padding-left: 2rem;
}

:root {
  --main-blue: #00093a;
  --main-green: #2e9385;
  --white: #ffffff;
}

.places{
  color: #00093a;
  margin-top: 2vh;
  border-radius: 5px;
  background: linear-gradient(225deg, #ffffff, #dddddd);
  box-shadow:  -9px 9px 18px #a4a4a4,
               9px -9px 18px #ffffff;
  padding: 1rem;
  line-height: 2.5vh;
}